<div class="collection-info-wrapper">
  <div class="collection-text-container">
    <h1 class="collection-title">
      {{ collection.title }}
    </h1>
    <p class="collection-p">
      These mugs are carefully crafted and painted by hand. They can fit as a set or as individual pieces, making them both a perfect addition to your tableware or as a gift. They come in natural tones and fit with any style.
    </p>
  </div>
  <div class="collection-image-container">
    <img class="collection-image" src="{{ 'collection-plates.jpg' | asset_img_url: '1920x' }}">
  </div>
</div>