<footer>
  <div class="footer-container">
    <div class="left-nav">
      <ul class="help-ul">
        {% for link in linklists.footer.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </ul>
    </div>
    <div class="right-nav">
      <ul class="pages-ul">
        {% for link in linklists.pages-nav.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </ul>
    </div>
    <div class="contact-container">
      <div class="info-container">
        <h4>Get in touch</h4>
        <p>lindac@lindacreates.com</p>
      </div>
      <div class="socials-container">
        <ul>
          <li>
            <i class="fi-cnsuxl-facebook-circle"></i>
          </li>
          <li>
            <i class="fi-xnsuxl-instagram"></i>
          </li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</footer>