<footer>
  <div class="footer-container">
    <div class="left-nav">
      <ul class="help-ul">
        {% for link in linklists.footer.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </ul>
    </div>
    <div class="right-nav">
      <ul class="pages-ul">
        {% for link in linklists.pages-nav.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </ul>
    </div>
  </div>
</footer>