<footer>
  <div class="footer-container">
    <div class="navs">
      <ul class="help-ul">
        <h4>Help</h4>
        {% for link in linklists.footer.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </ul>
      <ul class="pages-ul">
        <h4>Pages</h4>
        {% for link in linklists.pages-nav.links -%}
          {{ link.title | link_to: link.url }}
        {%- endfor %}
      </ul>
    </div>
    <div class="right-nav"></div>
    <div class="contact-container">
      <div class="info-container">
        <h4>Get in touch</h4>
        <p>linda@lindacreates.com</p>
      </div>
      <div class="socials-container">
        <ul>
          <li>
            <i class="fi-cnsuxl-facebook-circle"></i>
          </li>
          <li>
            <i class="fi-xnsuxl-instagram"></i>
          </li>
          <li>
            <i class="fi-cnsuxl-linkedin"></i>
          </li>
          <li>
            <i class="fi-cwsuxl-youtube"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright-container">
    <p>Copyright © 2023, Lindaceramics</p>
  </div>
</footer>