<div class="carousel-container">
  <div class="slide-button-container">
    <button class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#212121"></path></svg>
    </button>
    <button class="forward-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#212121"></path></svg>
    </button>
  </div>
  <div class="slide-img-container">
    <div class="slide1 slide"><img src="/assets/landing-mugs-from-above1.jpg"></div>
    <div class="slide3 slide"><img src="/assets/landing-pottery-and-oranges1.jpg" alt=""></div>
    <div class="slide2 slide"><img src="/assets/landing-pottery-mix1.jpg"></div>
    <div class="slide4 slide"><img src="/assets/landing-mugs-lined-up1.jpg"></div>
  </div>
  <div class="carousel-control-buttons">
    <button class="slide1-button active"> </button>
    <button class="slide2-button"> </button>
    <button class="slide3-button"> </button>
    <button class="slide4-button"> </button>
  </div>
</div>

<script src="../assets/landing-carousel.js"></script>