<div class="carousel-container">
  <h1>container</h1>
  <div class="slide-button-container">
    <button class="back-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#212121"></path></svg>
    </button>
    <button class="forward-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#212121"></path></svg>
    </button>
  </div>
  <div class="slide-img-container">
    <div class="slide1 slide"><img src="/assets/landing-mugs-from-above.jpg"></div>
    <div class="slide2 slide"><img src="/assets/landing-pottery-mix.jpg"></div>
    <div class="slide3 slide"><img src="/assets/landing-pottery-and-oranges.jpg" alt=""></div>
    <div class="slide4 slide"><img src="/assets/landing-mugs-lined-up.jpg"></div>
  </div>
  <div class="carousel-control-buttons">
    <button class="slide1-button active">1</button>
    <button class="slide2-button">2</button>
    <button class="slide3-button">3</button>
    <button class="slide4-button">4</button>
    <button class="slide5-button">5</button>
  </div>
</div>