<html>
  <head>
    {{ 'test.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    <div class="wrapper">
      {% render 'header' %}
      <main>
        {{ content_for_layout }}
      </main>
      {% render 'footer' %}
    </div>
    {{ 'body.css' | asset_url | stylesheet_tag }}
  </body>
</html>