@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Alice&family=Baskervville:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');

@import 'header.scss', 'footer.scss', 'landing-carousel.scss', 'landing-page.scss', 'collection.scss', 'product.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #292928;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #0f0f0f;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #585650;

  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Alice', serif;
  }
}


body {
  background-color: #20201f;
  padding-top: 90px;
  

  // &::-webkit-scrollbar:horizontal{
  //   height: 8px;
  //   background-color: red;
  // }
  // &::-webkit-scrollbar-thumb:horizontal{
  //   background: #000;
  //   border-radius: 10px;
    
  // }
}

.wrapper {
  // background-color: #c5b8a5;
  background-color: #ddd7ce;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.underline-anchor-tag {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #afaaa2;
  letter-spacing: 0.4px;
  transition: 300ms;
  // font-weight: 300;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #afaaa233;
    transition: 300ms;
    margin-top: 5px;
  }
  &:hover {
    color: #cfcac2;
    &::after {
      width: 100%;
    }
  }
}

.page-location {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  margin: 4px 0;
  a, p {
    color: #1A1A19;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
  i {
    color: #8a8a83;
    font-size: 8px;
    margin: 0 2px;
  }
  p {
    color: #5a5a55;
  }
}

.slide-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  z-index: 50;
  button {
    cursor: pointer;
    margin: 0 20px;
    background-color: transparent;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.74);
    text-shadow: 0px 5px 7px #000000a2;
    transition: 300ms;

    &:active, &:hover {
      color: rgba(255, 255, 255, 0.973);
      text-shadow: 0px 4px 5px #000000d2;
      transform: scale(1.3);
    }
    i {
      width: 100%;
    }
  }
}