@import 'header.scss', 'footer.scss', 'landing-carousel.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5b8a5;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}