@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");
header {
  display: flex;
  background-color: #20201f;
  position: sticky;
  top: 0;
  padding: 10px 15px;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.363);
  width: 100%;
  z-index: 999; }
  header .hamburger-icon button {
    display: block;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 300ms;
    color: #c5b8a5; }
    header .hamburger-icon button:hover {
      background-color: #d3cfc5; }
  header .nav-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.403);
    transition: 400ms;
    cursor: pointer; }
    header .nav-wrapper nav {
      left: 0;
      top: 0;
      position: absolute;
      width: 270px;
      height: 100vh;
      background-color: #20201f;
      transition: 500ms;
      box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.663);
      cursor: auto; }
      header .nav-wrapper nav .close-btn {
        border: none;
        background: none;
        color: #cab2b2;
        font-size: 25px;
        padding: 5px;
        cursor: pointer; }
        header .nav-wrapper nav .close-btn:hover {
          background-color: #242322; }
      header .nav-wrapper nav .nav-ul {
        display: flex;
        flex-direction: column; }
        header .nav-wrapper nav .nav-ul a {
          text-decoration: none;
          color: #e4dfd7; }
    header .nav-wrapper.hidden {
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0); }
      header .nav-wrapper.hidden nav {
        transform: translateX(-100%);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.563); }
  header .header-title h1 {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    color: #c5b8a5; }

footer {
  margin-top: auto;
  background-color: #3b3936;
  width: 100%; }

.carousel-container {
  position: relative;
  background-color: red;
  width: 100%;
  height: 750px;
  overflow: hidden;
  max-width: 100vw; }
  .carousel-container .slide-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 750px;
    justify-content: space-between;
    width: 100%;
    z-index: 50; }
    .carousel-container .slide-button-container button {
      cursor: pointer;
      margin: 0 20px;
      background-color: transparent;
      border: none;
      height: 60px;
      width: 60px;
      font-size: 45px;
      color: rgba(255, 255, 255, 0.397);
      text-shadow: 0px 4px 5px #00000081;
      transition: 300ms; }
      .carousel-container .slide-button-container button:active, .carousel-container .slide-button-container button:hover {
        color: rgba(255, 255, 255, 0.658);
        text-shadow: 0px 4px 5px #000000ab;
        transform: scale(1.3); }
      .carousel-container .slide-button-container button i {
        width: 100%; }
  .carousel-container .slide-img-container {
    display: flex;
    justify-content: center;
    width: 400%;
    transition: 1350ms;
    transition-timing-function: ease; }
    .carousel-container .slide-img-container .slide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 750px;
      width: 25%; }
      .carousel-container .slide-img-container .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .carousel-container .carousel-control-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 50; }
    .carousel-container .carousel-control-buttons button {
      margin: 0 2px;
      cursor: pointer;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.158);
      border: 1px solid #181717;
      transition: 300ms; }
      .carousel-container .carousel-control-buttons button:active, .carousel-container .carousel-control-buttons button:hover, .carousel-container .carousel-control-buttons button.active {
        background-color: rgba(255, 255, 255, 0.61); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c5b8a5; }

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; }
