@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Alice&family=Baskervville:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap");
.close-btn, .search-close-btn, .cart-close-btn {
  display: block;
  border: none;
  background: none;
  color: #c5b8a5;
  font-size: 30px;
  cursor: pointer;
  transition: 300ms; }
  .close-btn:hover, .search-close-btn:hover, .cart-close-btn:hover {
    transform: scale(1.2);
    color: #e0d4c1; }
  .close-btn:active, .search-close-btn:active, .cart-close-btn:active {
    transform: scale(0.9); }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a19;
  position: fixed;
  top: 0;
  padding: 0px 15px;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.363);
  width: 100%;
  z-index: 990;
  height: 90px;
  transition: 500ms; }
  header.smaller {
    height: 60px; }
  header .hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .hamburger-icon button {
      border-radius: 100%;
      width: 44px;
      height: 44px;
      display: block;
      font-size: 30px;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: 400ms;
      transition-timing-function: ease;
      color: #c5b8a5; }
      header .hamburger-icon button:hover {
        transform: scale(1.2);
        color: #e0d4c1; }
      header .hamburger-icon button:active {
        transform: scale(0.9); }
      header .hamburger-icon button:focus {
        transform: scale(1) rotate(90deg); }
  header .nav-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
    pointer-events: none;
    transition: 400ms;
    background-color: rgba(0, 0, 0, 0); }
    header .nav-wrapper nav {
      transition: 500ms;
      left: -270px;
      top: 0;
      position: absolute;
      width: 270px;
      height: 100vh;
      background-color: #20201f;
      background: #111110;
      background: linear-gradient(0deg, #111110 8%, #20201f 100%);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.563);
      cursor: auto;
      font-size: 20px; }
      header .nav-wrapper nav .nav-top-container {
        display: flex;
        padding: 22px 20px; }
        header .nav-wrapper nav .nav-top-container .logo-container {
          display: flex;
          align-items: center;
          width: 150px;
          padding-left: 20px; }
        header .nav-wrapper nav .nav-top-container .close-btn {
          margin-left: auto; }
          header .nav-wrapper nav .nav-top-container .close-btn:focus {
            transform: scale(0.9) rotate(-110deg); }
      header .nav-wrapper nav .nav-ul {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 50px;
        padding: 22px 20px; }
        header .nav-wrapper nav .nav-ul .menu-link {
          list-style-type: none;
          font-family: 'Alice', serif;
          font-size: 27px;
          margin: 5px 0; }
          header .nav-wrapper nav .nav-ul .menu-link a {
            transition: 300ms;
            font-family: 'Alice', serif;
            text-decoration: none;
            color: #c5b8a5; }
            header .nav-wrapper nav .nav-ul .menu-link a:hover {
              color: #e0dbd0; }
          header .nav-wrapper nav .nav-ul .menu-link .shop-dropdown-btn {
            cursor: pointer; }
            header .nav-wrapper nav .nav-ul .menu-link .shop-dropdown-btn .chevron-icon {
              font-size: 18px;
              transform: rotate(0deg);
              display: inline-block;
              transition: 350ms;
              transform: translateY(-3px);
              margin-left: 60px; }
              header .nav-wrapper nav .nav-ul .menu-link .shop-dropdown-btn .chevron-icon.icon-spin {
                transform: rotate(90deg); }
          header .nav-wrapper nav .nav-ul .menu-link .dropdown-child {
            height: 0px;
            overflow: hidden;
            transition-timing-function: ease;
            transition: 400ms; }
            header .nav-wrapper nav .nav-ul .menu-link .dropdown-child li {
              font-size: 16px; }
              header .nav-wrapper nav .nav-ul .menu-link .dropdown-child li a {
                font-family: 'Source Sans Pro', sans-serif;
                color: #aaa59b; }
                header .nav-wrapper nav .nav-ul .menu-link .dropdown-child li a:hover {
                  color: #e4dfd7; }
            header .nav-wrapper nav .nav-ul .menu-link .dropdown-child.visible {
              padding-left: 17px;
              transition-timing-function: ease;
              transition: 400ms;
              height: 130px; }
    header .nav-wrapper.show {
      background-color: rgba(0, 0, 0, 0.403);
      pointer-events: all; }
      header .nav-wrapper.show nav {
        transform: translateX(270px);
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.663); }
  header .header-title {
    width: 85%;
    display: flex; }
    header .header-title a {
      display: flex;
      text-decoration: none;
      margin-left: 20%; }
      header .header-title a h1 {
        margin-left: 10px;
        font-size: 37px;
        color: #e2d9ca;
        font-family: 'Alice', serif;
        letter-spacing: 3px;
        font-weight: 200; }
  header .search-cart-icon-container {
    display: flex;
    justify-content: space-between;
    width: 100px; }
    header .search-cart-icon-container button {
      transition: 300ms;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #c5b8a5;
      font-size: 30px; }
      header .search-cart-icon-container button:hover {
        transform: scale(1.2);
        color: #e0d4c1; }
      header .search-cart-icon-container button:active {
        transform: scale(0.9); }
  header .search-wrapper, header .cart-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 400ms; }
    header .search-wrapper .search, header .search-wrapper .cart, header .cart-wrapper .search, header .cart-wrapper .cart {
      color: #c5b8a5;
      transition: 500ms;
      right: -440px;
      top: 0;
      position: absolute;
      width: 440px;
      height: 100vh;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.563);
      padding: 22px 30px;
      cursor: auto;
      background: linear-gradient(0deg, #111110 8%, #20201f 100%);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.563); }
      header .search-wrapper .search .search-close-btn:focus, header .search-wrapper .search .cart-close-btn:focus, header .search-wrapper .cart .search-close-btn:focus, header .search-wrapper .cart .cart-close-btn:focus, header .cart-wrapper .search .search-close-btn:focus, header .cart-wrapper .search .cart-close-btn:focus, header .cart-wrapper .cart .search-close-btn:focus, header .cart-wrapper .cart .cart-close-btn:focus {
        transform: scale(1) rotate(90deg); }
      header .search-wrapper .search .title, header .search-wrapper .cart .title, header .cart-wrapper .search .title, header .cart-wrapper .cart .title {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: flex-end;
        display: flex;
        color: #c5b8a5;
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 1.6px;
        padding: 0 0px 7px 0px; }
    header .search-wrapper.show, header .cart-wrapper.show {
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.403); }
      header .search-wrapper.show .search, header .search-wrapper.show .cart, header .cart-wrapper.show .search, header .cart-wrapper.show .cart {
        box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.663);
        transform: translateX(-440px); }
  header .search-wrapper .search .live-search-container input {
    transition: 500ms;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #c5b8a5b4;
    border-radius: 2px;
    padding: 0 20px;
    font-size: 18px;
    caret-color: #c5b8a5;
    color: #e4dfd7;
    font-weight: 300;
    margin-bottom: 10px; }
    header .search-wrapper .search .live-search-container input:focus {
      outline: none !important;
      border: 1px solid #c5b8a5;
      background-color: #c5b8a515; }
  header .search-wrapper .search .search-result {
    height: 80%; }
    header .search-wrapper .search .search-result ul {
      width: 100%; }
      header .search-wrapper .search .search-result ul .product-h3 {
        color: #afaaa2;
        font-size: 18px;
        padding-bottom: 5px;
        border-bottom: 1px solid #afaaa233;
        letter-spacing: 0.8px; }
      header .search-wrapper .search .search-result ul .no-products-found-h3 {
        color: #afaaa2;
        font-size: 16px;
        letter-spacing: 0.8px; }
      header .search-wrapper .search .search-result ul .li-product-card {
        transition: 300ms;
        margin-bottom: 10px; }
        header .search-wrapper .search .search-result ul .li-product-card:hover {
          background-color: #20201f; }
          header .search-wrapper .search .search-result ul .li-product-card:hover .result-product-container .img-container img {
            opacity: 1; }
        header .search-wrapper .search .search-result ul .li-product-card:nth-child(2) {
          margin-top: 10px; }
        header .search-wrapper .search .search-result ul .li-product-card:nth-child(6) {
          margin-bottom: 20px; }
          header .search-wrapper .search .search-result ul .li-product-card:nth-child(6)::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #afaaa233;
            margin-bottom: 10px;
            transform: translateY(10px); }
        header .search-wrapper .search .search-result ul .li-product-card a .result-product-container {
          display: flex; }
          header .search-wrapper .search .search-result ul .li-product-card a .result-product-container .img-container img {
            opacity: 0.7; }
          header .search-wrapper .search .search-result ul .li-product-card a .result-product-container .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px; }
            header .search-wrapper .search .search-result ul .li-product-card a .result-product-container .text-container .product-name {
              font-family: 'Source Sans Pro', sans-serif;
              color: #cfc4b4;
              margin-bottom: 10px;
              font-size: 18px;
              font-weight: 400; }
            header .search-wrapper .search .search-result ul .li-product-card a .result-product-container .text-container .product-price {
              font-family: 'Source Sans Pro', sans-serif;
              font-weight: 300;
              color: #c0bbb2;
              letter-spacing: 0.4px;
              font-size: 14px; }
      header .search-wrapper .search .search-result ul .show-more-btn {
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        color: #afaaa2;
        letter-spacing: 0.4px;
        transition: 300ms;
        padding-bottom: 4px; }
        header .search-wrapper .search .search-result ul .show-more-btn::after {
          content: '';
          display: block;
          width: 0;
          height: 1px;
          background-color: #afaaa233;
          transition: 300ms;
          margin-top: 5px; }
        header .search-wrapper .search .search-result ul .show-more-btn:hover {
          color: #c2beb7; }
          header .search-wrapper .search .search-result ul .show-more-btn:hover::after {
            width: 100%; }
  header .cart-wrapper .cart .cart-container .cart-item-wrapper {
    border-bottom: 1px solid #afaaa233;
    border-top: 1px solid #afaaa233;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 67%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 0; }
    header .cart-wrapper .cart .cart-container .cart-item-wrapper::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #0f0f0f; }
    header .cart-wrapper .cart .cart-container .cart-item-wrapper::-webkit-scrollbar {
      width: 10px;
      background-color: #0f0f0f; }
    header .cart-wrapper .cart .cart-container .cart-item-wrapper::-webkit-scrollbar-thumb {
      background-color: #292928; }
    header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item {
      display: flex;
      justify-content: space-between;
      margin: 5px 0; }
      header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product {
        height: 100%;
        width: 58%; }
        header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .product-info {
          margin-bottom: 15px; }
          header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .product-info .product-title {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            margin-bottom: 5px; }
          header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .product-info .cart-item-total {
            font-size: 15px;
            font-weight: 300; }
        header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity {
          display: flex;
          justify-content: space-between; }
          header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity .cart-quantity-selector button {
            cursor: pointer;
            transition: 300ms;
            background-color: transparent;
            border: 1px solid #afaaa233;
            width: 30px;
            height: 30px;
            color: #afaaa2;
            font-size: 14px; }
            header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity .cart-quantity-selector button:hover {
              background-color: #20201f; }
          header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity .cart-quantity-selector input {
            pointer-events: none;
            width: 50px;
            height: 100%;
            outline: none;
            background-color: transparent;
            border: 1px solid #afaaa233;
            padding-bottom: 2px;
            text-align: center;
            font-size: 14px;
            color: #cfc4b4;
            font-weight: 200; }
          header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity .cart-item-remove {
            cursor: pointer;
            transition: 300ms;
            display: flex;
            height: 30px;
            width: 30px;
            align-items: center; }
            header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity .cart-item-remove:hover {
              transform: scale(1.2);
              color: #e0d4c1; }
            header .cart-wrapper .cart .cart-container .cart-item-wrapper .cart-item .cart-item-product .cart-item-quantity .cart-item-remove:active {
              transform: scale(0.9); }
  header .cart-wrapper .cart .cart-container .cart-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px; }
    header .cart-wrapper .cart .cart-container .cart-info .cart-totals {
      display: flex;
      flex-direction: column;
      text-align: end; }
      header .cart-wrapper .cart .cart-container .cart-info .cart-totals .discount {
        font-size: 15px;
        font-weight: 300;
        color: #afaaa2c9; }
        header .cart-wrapper .cart .cart-container .cart-info .cart-totals .discount span {
          letter-spacing: 0.4px;
          margin-left: 5px;
          font-weight: 400; }
      header .cart-wrapper .cart .cart-container .cart-info .cart-totals .total {
        font-size: 15px;
        font-weight: 300; }
        header .cart-wrapper .cart .cart-container .cart-info .cart-totals .total span {
          font-weight: 500;
          letter-spacing: 0.4px;
          margin-left: 5px;
          font-size: 20px; }
  header .cart-wrapper .cart .cart-container .checkout-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px; }
    header .cart-wrapper .cart .cart-container .checkout-button button {
      cursor: pointer;
      transition: 300ms;
      background-color: transparent;
      color: #c5b8a5;
      font-size: 20px;
      border: 1px solid #afaaa2af;
      height: 40px;
      width: 100%;
      letter-spacing: 0.4px;
      font-family: 'Alice', serif; }
      header .cart-wrapper .cart .cart-container .checkout-button button:hover {
        background-color: #20201f; }

footer {
  margin-top: auto;
  background-color: #3b3936;
  width: 100%; }

.carousel-container {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  max-width: 100vw; }
  .carousel-container .slide-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 750px;
    justify-content: space-between;
    width: 100%;
    z-index: 50; }
    .carousel-container .slide-button-container button {
      cursor: pointer;
      margin: 0 20px;
      background-color: transparent;
      border: none;
      height: 60px;
      width: 60px;
      font-size: 45px;
      color: rgba(255, 255, 255, 0.397);
      text-shadow: 0px 4px 5px #00000081;
      transition: 300ms; }
      .carousel-container .slide-button-container button:active, .carousel-container .slide-button-container button:hover {
        color: rgba(255, 255, 255, 0.658);
        text-shadow: 0px 4px 5px #000000ab;
        transform: scale(1.3); }
      .carousel-container .slide-button-container button i {
        width: 100%; }
  .carousel-container .slide-img-container {
    display: flex;
    justify-content: center;
    width: 400%;
    transition: 1350ms;
    transition-timing-function: ease; }
    .carousel-container .slide-img-container .slide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 750px;
      width: 25%; }
      .carousel-container .slide-img-container .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .carousel-container .carousel-control-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 50; }
    .carousel-container .carousel-control-buttons button {
      margin: 0 2px;
      cursor: pointer;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.158);
      border: 1px solid #181717;
      transition: 300ms; }
      .carousel-container .carousel-control-buttons button:active, .carousel-container .carousel-control-buttons button:hover, .carousel-container .carousel-control-buttons button.active {
        background-color: rgba(255, 255, 255, 0.61); }

.landing-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .landing-wrapper .landing-container {
    width: 80%; }
    .landing-wrapper .landing-container .intro-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px; }
      .landing-wrapper .landing-container .intro-container .text-container {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center; }
        .landing-wrapper .landing-container .intro-container .text-container .h2-container {
          display: flex;
          justify-content: center;
          width: 40%; }
          .landing-wrapper .landing-container .intro-container .text-container .h2-container h2 {
            display: inline;
            font-size: 45px;
            color: #1A1A19;
            letter-spacing: 0.8px;
            width: 480px; }
            @media screen and (max-width: 1480px) {
              .landing-wrapper .landing-container .intro-container .text-container .h2-container h2 {
                width: 280px; } }
        .landing-wrapper .landing-container .intro-container .text-container .text-link-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 60%;
          height: 100%;
          background-color: #1A1A19;
          padding: 0 30px 0 30px;
          color: #DDD7CE; }
          .landing-wrapper .landing-container .intro-container .text-container .text-link-container .p-container {
            display: flex;
            align-items: end;
            height: 160px;
            margin-bottom: 20px; }
            .landing-wrapper .landing-container .intro-container .text-container .text-link-container .p-container p {
              text-align: justify;
              max-width: 500px;
              font-weight: 300;
              font-size: 18px;
              line-height: 23px; }
        .landing-wrapper .landing-container .intro-container .text-container .link-container {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          max-width: 500px; }
          .landing-wrapper .landing-container .intro-container .text-container .link-container a {
            text-align: end; }
      .landing-wrapper .landing-container .intro-container img {
        width: 100%; }
    .landing-wrapper .landing-container .item-showcase {
      display: flex;
      height: 500px;
      width: 100%; }
      .landing-wrapper .landing-container .item-showcase .colour-block {
        width: 180px;
        background-color: #1A1A19; }
      .landing-wrapper .landing-container .item-showcase .img-container {
        display: flex;
        height: 500px;
        margin-right: 90px; }
      .landing-wrapper .landing-container .item-showcase .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%; }
        .landing-wrapper .landing-container .item-showcase .text-container h2 {
          max-width: 500px;
          font-size: 30px;
          margin-bottom: 30px;
          color: #1A1A19; }
        .landing-wrapper .landing-container .item-showcase .text-container p {
          max-width: 500px;
          text-align: justify;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          color: #3b3b3a; }
          .landing-wrapper .landing-container .item-showcase .text-container p::after {
            content: '';
            display: block;
            width: 600px;
            height: 1px;
            background-color: rgba(80, 78, 75, 0.897);
            margin-top: 150px; }
      .landing-wrapper .landing-container .item-showcase:nth-child(odd) .img-container {
        margin-left: 90px;
        margin-right: 0; }
      .landing-wrapper .landing-container .item-showcase:nth-child(odd) .text-container {
        align-items: flex-end; }
        .landing-wrapper .landing-container .item-showcase:nth-child(odd) .text-container h2 {
          margin-right: 25px; }
        .landing-wrapper .landing-container .item-showcase:nth-child(odd) .text-container p::after {
          content: '';
          display: block;
          width: 600px;
          height: 1px;
          background-color: rgba(80, 78, 75, 0.897);
          margin-top: 150px;
          transform: translateX(-100px); }
      .landing-wrapper .landing-container .item-showcase.one .colour-block {
        border-right: solid 3px #DDD7CE; }
      .landing-wrapper .landing-container .item-showcase.two .colour-block {
        width: 230px;
        border-left: solid 3px #DDD7CE; }
      .landing-wrapper .landing-container .item-showcase.three .colour-block {
        width: 140px;
        border-right: solid 3px #DDD7CE; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }
  * ul {
    list-style-type: none; }
  * a {
    text-decoration: none;
    color: inherit; }
  * h1, * h2, * h3, * h4, * h5, * h6 {
    font-family: 'Alice', serif; }

body {
  background-color: #20201f;
  padding-top: 90px; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0f0f0f; }
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #0f0f0f; }
  body::-webkit-scrollbar-thumb {
    background-color: #292928; }

.wrapper {
  background-color: #ddd7ce;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; }

.underline-anchor-tag {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #afaaa2;
  letter-spacing: 0.4px;
  transition: 300ms; }
  .underline-anchor-tag::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #afaaa233;
    transition: 300ms;
    margin-top: 5px; }
  .underline-anchor-tag:hover {
    color: #cfcac2; }
    .underline-anchor-tag:hover::after {
      width: 100%; }
