@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");
header {
  display: flex;
  background-color: #e9e5db;
  position: sticky;
  top: 0;
  padding: 10px 15px; }
  header .hamburger-icon button {
    display: block;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 300ms;
    color: #383737; }
    header .hamburger-icon button:hover {
      background-color: #d3cfc5; }
  header .nav-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.403);
    transition: 400ms;
    cursor: pointer; }
    header .nav-wrapper nav {
      left: 0;
      top: 0;
      position: absolute;
      width: 270px;
      height: 100vh;
      background-color: #d3cfc5;
      transition: 500ms;
      cursor: auto; }
      header .nav-wrapper nav .nav-ul {
        display: flex;
        flex-direction: column; }
        header .nav-wrapper nav .nav-ul a {
          text-decoration: none;
          color: #616161; }
    header .nav-wrapper.hidden {
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0); }
      header .nav-wrapper.hidden nav {
        transform: translateX(-100%); }
  header .header-title h1 {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    color: #383737; }

footer {
  margin-top: auto;
  background-color: #ff9900;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c0b5a5; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
