



header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a19;
  position: fixed;
  top: 0;
  padding: 0px 15px;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.363);
  width: 100%;
  z-index: 990;
  height: 90px;
  transition: 500ms;
  &.smaller {
    height: 60px;
  }
  .hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border-radius: 100%;
      width: 44px;
      height: 44px;
      display: block;
      font-size: 30px;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: 400ms;
      transition-timing-function: ease;
      color: #c5b8a5;
      &:hover {
        transform: scale(1.2);
        color: #e0d4c1;
      }
      &:active {
        transform: scale(0.9);
      }
      &:focus {
        transform: scale(1) rotate(90deg);
      }
      }
  }
  .nav-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
    pointer-events: none;
    transition: 400ms;
    background-color: rgba(0, 0, 0, 0);
    nav {
      transition: 500ms;
      left: -270px;
      top: 0;
      position: absolute;
      width: 270px;
      height: 100vh;
      background-color: #20201f;
      background: rgb(17,17,16);
      background: linear-gradient(0deg, rgba(17,17,16,1) 8%, rgba(32,32,31,1) 100%);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.563);
      cursor: auto;
      // padding: 22px 20px;
      font-size: 20px;
      .nav-top-container {
        display: flex;
        padding: 22px 20px;
        .logo-container {
          display: flex;
          align-items: center;
          width: 150px;
          padding-left: 20px;
        }
        .close-btn {
          display: block;
          border: none;
          background: none;
          color: #c5b8a5;
          font-size: 30px;
          padding: 5px;
          cursor: pointer;
          margin-left: auto;
          transition: 300ms;
          &:hover {
            transform: scale(1.2);
            color: #e0d4c1;
          }
          &:active {
            transform: scale(0.9);
          }
          &:focus {
            transform: scale(0.9) rotate(-110deg);

          }
        }
      }
      .nav-ul {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 50px;
        padding: 22px 20px;


        .menu-link {
          list-style-type: none;
          // font-family: 'Baskervville', serif;
          font-family: 'Alice', serif;
          font-size: 27px;
          margin: 5px 0;
          a {
            text-decoration: none;
            color: #e4dfd7;
            &:hover {
              color: #c0bbb2;
            }
            
          }

          .chevron-icon {
            font-size: 18px;
            transform: rotate(0deg);
            display: inline-block;
            transition: 350ms;
            transform: translateY(-3px);
            margin-left: 60px;
            &.icon-spin {
              transform: rotate(90deg);
            }
          }
          
          .dropdown-child {
            height: 0px;
            overflow: hidden;
            transition-timing-function: ease;
            transition: 400ms;
            li {
              font-family: Arial, Helvetica, sans-serif;
              font-family: 'Source Sans Pro', sans-serif;
              font-size: 16px;

              a {
                color: #c0bbb2;
                
                &:hover {
                  color: #e4dfd7;
    
                }
              }
            }
            &.visible {
              padding-left: 17px;
              transition-timing-function: ease;
              transition: 400ms;
              height: 130px;
            }
          }
        }
      }
      
    }
    &.show {
      background-color: rgba(0, 0, 0, 0.403);
      pointer-events: all;
      // display: none;
      nav {
        transform: translateX(270px);
        box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.663);
      }
    }
  }
  .header-title {
    width: 85%;
    display: flex;
    a {
      display: flex;
      text-decoration: none;
      margin-left: 20%;
      h1 {
        margin-left: 10px;
        font-size: 37px;
        color: #e2d9ca;
        font-family: 'Alice', serif;
        letter-spacing: 3px;
        font-weight: 200;


        // &::after {
        //   position: absolute;
        //   content: '';
        //   height: 1px;
        //   margin: 0 auto;
        //   left: 0;
        //   right: 0;
        //   width: 20%;
        //   background-color: #e2d9ca;
        //   bottom: 10px;
        // }
      }
    }

  }

  .search-cart-icon-container {
    display: flex;
    justify-content: space-between;
    width: 100px;
    button {
      transition: 300ms;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #c5b8a5;
      font-size: 30px;
      &:hover {
        transform: scale(1.2);
        color: #e0d4c1;
      }
      &:active {
        transform: scale(0.9);
      }

    }
  }
  
  .search-wrapper, .cart-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 400ms;
    
    .search, .cart {
      transition: 500ms;
      right: -370px;
      top: 0;
      position: absolute;
      width: 370px;
      height: 100vh;
      background-color: #20201f;
      // transform: translateX(100%);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.563);
      cursor: auto;
    }
    &.show {
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.403);
      .search, .cart {
        box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.663);
        transform: translateX(-370px);
      }
    }
  }

}