.carousel-container {
  position: relative;
  // margin: 0 50px;
  width: 100%;
  height: 800px;
  overflow: hidden;
  max-width: 100vw;
  .slide-button-container {
    height: 800px;
  }

  .slide-img-container {
    display: flex;
    justify-content: center;
    width: 400%;
    transition: 1350ms;
    transition-timing-function: ease;
    .slide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 800px;
      width: 25%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .carousel-control-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 50;
    button {
      margin: 0 2px;
      cursor: pointer;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.158);
      border: 1px solid rgb(24, 23, 23);
      transition: 300ms;

      &:active, &:hover, &.active {
        background-color: rgba(255, 255, 255, 0.61);
      }
    }
  }
}