<div class="cart-container" data-money-format="{{ shop.money_format }}">
  {% form 'cart', cart %}

    <h1>Cart</h1>

    {% if cart.empty? %}
      <div class="cart-empty">
        <p>Your cart is empty</p>
        <a href="/" class="button">
          Keep shopping
        </a>
      </div>
    {% else %}
      {% for item in cart.items %}
        {% render 'cart-item', item: item %}
      {% endfor %}
      <div class="cart-totals">
        <p>Discounts:
          <span id="total-discount">{{ cart.total_discounts | money }}</span>
        </p>
        <p>
          Total:
          <span id="total-price">{{ cart.total_price | money }}</span>
        </p>
      </div>
      <div class="cart-buttons">
        <button type="submit" name="update">Update</button>
        <button type="submit" name="checkout">Checkout</button>
      </div>

    {% endif %}

  {% endform %}

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{ 'cart.js' | asset_url | script_tag }}