<div class="collection-wrapper">
  <div class="page-location">
    <a href="/">Home</a>
    <i class="fi-xnsrxl-double-chevron-solid"></i>
    <a href="/collections/">Collections</a>
    <i class="fi-xnsrxl-double-chevron-solid"></i>
    <p>{{ collection.title }}</p>
  </div>
  {% if collection.title == 'All Products' %}
    {% render 'collection-all' %}
  {% endif %}
  {% if collection.title == 'Mugs' %}
    {% render 'collection-mugs' %}
  {% endif %}
  {% if collection.title == 'Bowls' %}
    {% render 'collection-bowls' %}
  {% endif %}
  {% if collection.title == 'Plates' %}
    {% render 'collection-plates' %}
  {% endif %}
  {% if collection.title == 'Coffee & Tea Cups' %}
    {% render 'collection-cups' %}
  {% endif %}
  {% render 'collection-filters.liquid' %}
  <div class="products">
    {% for product in collection.products %}
      {% render 'product-item', product: product %}
    {% endfor %}
  </div>
</div>

{{ 'collection.js' | asset_url | script_tag }}